[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
attrs = "*"
typing = "*"
requests = "*"
click = "*"

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
mypy = "==0.720"
black = "==19.3b0"

[requires]
python_version = "3.7"
